.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 30px;
    margin: 0 10px;
}
button{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    min-height: 50px;
    border: none;
    cursor: pointer;
    color: #090e22;
    background-color: #a5ffaf;
}