.passwordfield{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    background-color: #1d1e33;
    min-width: 400px;
    min-height: 50px;
}
img:hover{
    cursor: pointer;
}
#input{
    background-color: #1d1e33;
    border: none;
    color: #fff;
    font-size: larger;
}
#input:focus{
    border: none;
}