@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,100&family=Poppins:wght@400;700&family=Quicksand:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #090e22;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.container{
  min-width: 400px;
  min-height: 400px;
  background-color: #1d1e33;
  padding: 2rem;
}
h2{
  font-weight: bold;
  color: #a5ffaf;
}
.container .range-data{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.container div{
  align-items: center;
  margin: 20px;
}
.range-container input{
  width: 350px;
}
.container form{
  align-items: center;
  justify-content: space-between;
}
.container form div{
  display: flex;
  align-items: center;
  margin: 20px;
}
label{
  margin: 10px;
  font-size: 1em;
}